{% extends 'base.html.twig' %}

{% block title %}AntoineQuarroz{% endblock %}

{% block content %}
<body>
<!-- LATEST POSTS
================================================== -->
<section class="py-8 py-md-1 bg-light">
    <br>
    <h2 class="text-center text-muted py-3">CV</h2>
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-12 col-lg-11 col-xl-10">
                <div class="text-center text-md-left mb-5">
                    <a href="{{ path ('homepage') }}" class="btn btn-primary-soft shadow lift mr-1" style="width: 120px">
                        Retour
                    </a>
                </div>
                <br>
                <!-- Preheading -->
                <h6 class="text-uppercase text-primary font-weight-bold">
                    Curriculum vitæ
                </h6>

                <!-- Card -->
                <div class="card card-row shadow-dark-lg">
                    <div class="row no-gutters">
                        <div class="col-12 col-md-6 bg-cover card-img-left" style="background-image: url(assets/img/avatars/avatar-5.JPG);">

                            <!-- Image (placeholder) -->
                            <img src="assets/img/avatars/avatar-5.JPG" alt="..." class="img-fluid d-md-none invisible">

                            <!-- Shape -->
                            <div class="shape shape-right shape-fluid-y svg-shim text-white d-none d-md-block">
                                <svg viewBox="0 0 112 690" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M116 0H51v172C76 384 0 517 0 517v173h116V0z" fill="currentColor"></path></svg>
                            </div>

                        </div>
                        <div class="col-12 col-md-6 align-items-center">
                            <div class="card-body">
                                <br>
                                <br>
                                <br>
                                <br>
                                <!-- Heading -->
                                <h3 class="font-weight-bold">
                                    Antoine Quarroz
                                </h3>

                                <!-- Text -->
                                <p class="text-muted">
                                    Retrouver mon Curriculum vitæ en ligne Médiamaticien CFC
                                </p>
                                <br>
                                <br>
                                <br>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            </div>
        </div> <!-- / .row -->

</section>

<section class="py-8 py-md-1 bg-light">
    <div class="container">
        <div class="row">
                    <div class="col-12 col-md-5 col-lg-4">

                        <!-- Card -->
                        <div class="card card-border shadow-dark-lg lift lift-lg" style="border-top-color: #7C69EF;">
                            <div class="card-body text-center">

                                <!-- Icon -->
                                <span class="badge badge-info-soft mb-5">2005 - 2013</span>


                                <!-- Text -->
                                <p class="text-gray-700 mb-5">
                                    Ecole primaire Saint-Martin <br>
                                    1 - 6 primaires
                                </p>

                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-md-5 col-lg-4">

                        <!-- Card -->
                        <div class="card card-border shadow-dark-lg lift lift-lg" style="border-top-color: #7C69EF;">
                            <div class="card-body text-center">

                                <!-- Icon -->
                                <span class="badge badge-info-soft mb-5">2013 - 2015</span>

                                <!-- Text -->
                                <p class="text-gray-700 mb-5">
                                    Cycle d'orientation Euseigne <br>
                                    1 - 3 années CO
                                </p>


                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-md-5 col-lg-4">

                        <!-- Card -->
                        <div class="card card-border shadow-dark-lg lift lift-lg" style="border-top-color: #7C69EF;">
                            <div class="card-body text-center">

                                <!-- Icon -->
                                <span class="badge badge-info-soft mb-5">2015 - 2016</span>


                                <!-- Text -->
                                <p class="text-gray-700 mb-5">
                                    Orientation Schule Saas-Fee
                                    4ème année OS
                                </p>

                            </div>
                        </div>

                    </div>
        </div>
            <div class="row mt-5 mb-5 justify-content-center">
                    <div class="col-12 col-md-5 col-lg-4">

                        <!-- Card -->
                        <div class="card card-border shadow-dark-lg lift lift-lg" style="border-top-color: #7C69EF;">
                            <div class="card-body text-center">

                                <!-- Icon -->
                                <span class="badge badge-info-soft mb-5">2016 - 2021</span>


                                <!-- Text -->
                                <p class="text-gray-700 mb-5">
                                    Apprentissage Médiamaticien
                                    Médiathèque Valais-Sion
                                </p>

                            </div>
                        </div>

                    </div>

                    <div class="col-12 col-md-5 col-lg-4">

                        <!-- Card -->
                        <div class="card card-border shadow-dark-lg lift lift-lg" style="border-top-color: #7C69EF;">
                            <div class="card-body text-center">

                                <!-- Icon -->
                                <span class="badge badge-info-soft mb-5">2016 - 2021</span>


                                <!-- Text -->
                                <p class="text-gray-700 mb-5">
                                    Apprentissage Médiamaticien <br>
                                    EPTM
                                </p>

                </div>
                </div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>

<section class="py-8 py-md-1 bg-gradient-light">
    <div class="container">

        <div class="row align-items-center">
            <div class="col-12 col-md-6">

                <!-- Card -->
                <div class="card card-border border-primary shadow-dark-lg mb-6 mb-md-8" data-aos="fade-up">
                    <div class="card-body">

                        <!-- Heading -->
                        <h6 class="text-uppercase text-primary d-inline-block mb-5 mr-1">
                            Techniques
                        </h6>

                        <!-- Badge -->
                        <span class="badge badge-rounded-circle badge-primary-soft">
                  <span>5</span>
                </span>

                        <!-- List group -->
                        <div>
                            <div class="list-group list-group-flush">
                                <a class="list-group-item text-reset text-decoration-none" href="#!">

                                    <p class="font-weight-bold mb-1">
                                        Développement web / Frontend / Backend
                                    </p>
                                    <p class="font-size-sm text-muted mb-0">
                                        4+ ans d'expérience · St-Martin
                                    </p>
                                </a>
                                <a class="list-group-item text-reset text-decoration-none" href="#!">

                                    <p class="font-weight-bold mb-1">
                                        Design / Logo / Flyer / Affiche
                                    </p>
                                    <p class="font-size-sm text-muted mb-0">
                                        4+ ans d'expérience · Sion
                                    </p>
                                </a>
                                <a class="list-group-item text-reset text-decoration-none" href="#!">

                                    <p class="font-weight-bold mb-1">
                                        Multimédia / Photo / Vidéo / Montage / Traitement
                                    </p>
                                    <p class="font-size-sm text-muted mb-0">
                                        4+ ans d'expérience · Sion
                                    </p>

                                </a>
                                <a class="list-group-item text-reset text-decoration-none" href="#!">

                                    <p class="font-weight-bold mb-1">
                                        Marketing
                                    </p>
                                    <p class="font-size-sm text-muted mb-0">
                                        2+ d'expérience · Sion
                                    </p>

                                </a>
                                <a class="list-group-item text-reset text-decoration-none" href="#!">

                                    <p class="font-weight-bold mb-1">
                                        Gestion de projet
                                    </p>
                                    <p class="font-size-sm text-muted mb-0">
                                        3+ ans d'expérience · Sion
                                    </p>

                                </a>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Card -->
                <div class="card card-border border-danger shadow-dark-lg mb-6 mb-md-8" data-aos="fade-up">
                    <div class="card-body">

                        <!-- Heading -->
                        <h6 class="text-uppercase text-danger d-inline-block mb-5 mr-1">
                            Langues
                        </h6>

                        <!-- Badge -->
                        <span class="badge badge-rounded-circle badge-danger-soft">
                  <span>3</span>
                </span>

                        <!-- List group -->
                        <div>
                            <div class="list-group list-group-flush">
                                <a class="list-group-item text-reset text-decoration-none" href="#!">

                                    <p class="font-weight-bold mb-1">
                                        Français
                                    </p>
                                    <p class="font-size-sm text-muted mb-0">
                                        Langues maternelle
                                    </p>

                                </a>
                                <a class="list-group-item text-reset text-decoration-none" href="#!">

                                    <p class="font-weight-bold mb-1">
                                        Allemand
                                    </p>
                                    <p class="font-size-sm text-muted mb-0">
                                        Niveau B2
                                    </p>

                                </a>
                                <a class="list-group-item text-reset text-decoration-none" href="#!">

                                    <p class="font-weight-bold mb-1">
                                        Anglais
                                    </p>
                                    <p class="font-size-sm text-muted mb-0">
                                        Niveau B1
                                    </p>

                                </a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-12 col-md-6">

                <!-- Card -->
                <div class="card card-border border-success shadow-dark-lg mb-6 mb-md-8" data-aos="fade-up" data-aos-delay="100">
                    <div class="card-body">

                        <!-- Heading -->
                        <h6 class="text-uppercase text-success d-inline-block mb-5 mr-1">
                            Techniques
                        </h6>

                        <!-- Badge -->
                        <span class="badge badge-rounded-circle badge-success-soft">
                  <span>5</span>
                </span>

                        <!-- List group -->
                        <div>
                            <div class="list-group list-group-flush">
                                <a class="list-group-item text-reset text-decoration-none" href="#!">

                                    <p class="font-weight-bold mb-1">
                                        Antoine Quarroz
                                    </p>


                                </a>
                                <a class="list-group-item text-reset text-decoration-none" href="#!">

                                    <p class="font-weight-bold mb-1">
                                        19 ans
                                    </p>

                                </a>
                                <a class="list-group-item text-reset text-decoration-none" href="#!">

                                    <p class="font-weight-bold mb-1">
                                        Apprentis médiamaticien
                                    </p>
                                    <p class="font-size-sm text-muted mb-0">
                                        Médiathèque Valais
                                    </p>

                                </a>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Card -->
                <div class="card card-border border-gray-800 shadow-dark-lg mb-6 mb-md-8" data-aos="fade-up">
                    <div class="card-body">

                        <!-- Heading -->
                        <h6 class="text-uppercase text-gray-500 d-inline-block mb-5 mr-1">
                            Hobbys
                        </h6>

                        <!-- Badge -->
                        <span class="badge badge-rounded-circle badge-dark-soft">
                  <span>3</span>
                </span>

                        <!-- List group -->
                        <div>
                            <div class="list-group list-group-flush">
                                <a class="list-group-item text-reset text-decoration-none" href="#!">

                                    <p class="font-weight-bold mb-1">
                                        Football
                                    </p>
                                    <p class="font-size-sm text-muted mb-0">
                                        Fc US Hérens
                                    </p>

                                </a>
                                <a class="list-group-item text-reset text-decoration-none" href="#!">

                                    <p class="font-weight-bold mb-1">
                                        Ski
                                    </p>
                                    <p class="font-size-sm text-muted mb-0">
                                        Ski-Club St-Martin
                                    </p>

                                </a>
                                <a class="list-group-item text-reset text-decoration-none" href="#!">

                                    <p class="font-weight-bold mb-1">
                                        Développement web
                                    </p>
                                    <p class="font-size-sm text-muted mb-0">
                                        AntoineQuarroz
                                    </p>

                                </a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card card-border border-danger shadow-dark-lg mb-6 mb-md-8" data-aos="fade-up">
                    <div class="card-body">

                        <!-- Heading -->
                        <h6 class="text-uppercase text-danger d-inline-block mb-5 mr-1">
                            Qualités
                        </h6>

                        <!-- Badge -->
                        <span class="badge badge-rounded-circle badge-danger-soft">
                  <span>3</span>
                </span>

                        <!-- List group -->
                        <div>
                            <div class="list-group list-group-flush">
                                <a class="list-group-item text-reset text-decoration-none" href="#!">

                                    <p class="font-weight-bold mb-1">
                                        Consciencieux
                                    </p>
                                    <p class="font-size-sm text-muted mb-0">
                                        Langues maternelle
                                    </p>

                                </a>
                                <a class="list-group-item text-reset text-decoration-none" href="#!">

                                    <p class="font-weight-bold mb-1">
                                        Volontaire
                                    </p>

                                </a>
                                <a class="list-group-item text-reset text-decoration-none" href="#!">

                                    <p class="font-weight-bold mb-1">
                                        Esprit logique
                                    </p>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
            </div>
 <!-- / .container -->
</section>
<div class="position-relative mt-n15">
    <div class="shape shape-bottom shape-fluid-x svg-shim text-dark">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
    </div>
</div>

<!-- FAQ
================================================== -->
<section class="pt-15 bg-dark">
    <div class="container pt-8 pt-md-11">
        <div class="row">

        </div> <!-- / .row -->
    </div> <!-- / .container -->

    <footer class="py-8 py-md-11 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">

                    <!-- Brand -->
                    <h3 style="color: #ffffff">Antoine<span><b>Quarroz</b></span></h3>

                    <!-- Text -->
                    <p class="text-gray-700 mb-2">
                        Développeur web
                    </p>

                    <!-- Social -->
                    <ul class="list-unstyled list-inline list-social mb-6 mb-md-0">
                        <li class="list-inline-item list-social-item mr-3">
                            <a href="https://www.instagram.com/antoquar_dev/" class="text-decoration-none">
                                <img src="./assets/img/icons/social/instagram.svg" class="list-social-icon" alt="...">
                            </a>
                        </li>
                        <li class="list-inline-item list-social-item mr-3">
                            <a href="https://www.facebook.com/AntoineQuarroz" class="text-decoration-none">
                                <img src="./assets/img/icons/social/facebook.svg" class="list-social-icon" alt="...">
                            </a>
                        </li>
                        <li class="list-inline-item list-social-item mr-3">
                            <a href="https://www.linkedin.com/in/antoine-quarroz-376020187/" class="text-decoration-none">
                                <img src="./assets/img/icons/social/linkedin.svg" class="list-social-icon" alt="...">
                            </a>
                        </li>
                        <li class="list-inline-item list-social-item">
                            <a href="https://twitter.com/AntoineQuarroz" class="text-decoration-none">
                                <img src="./assets/img/icons/social/twitter.svg" class="list-social-icon" alt="...">
                            </a>
                        </li>
                        <li class="list-inline-item list-social-item">
                            <a href="https://github.com/antoinequarroz?tab=repositories" class="text-decoration-none">
                                <img src="./assets/img/icons/social/github.svg" class="list-social-icon" alt="...">
                            </a>
                        </li>
                    </ul>

                </div>
                <div class="col-6 col-md-4 col-lg-3">

                    <!-- Heading -->
                    <h6 class="font-weight-bold text-uppercase text-gray-700">
                        Adresse
                    </h6>

                    <!-- List -->
                    <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
                        <li class="mb-3">
                            <a href="#!" class="text-reset">
                                Rue de l'Evouette 5
                            </a>
                        </li>
                        <li class="mb-3">
                            <a href="#!" class="text-reset">
                                1969 St-Martin VS
                            </a>
                        </li>
                    </ul>

                </div>
                <div class="col-6 col-md-4 col-lg-3">

                    <!-- Heading -->
                    <h6 class="font-weight-bold text-uppercase text-gray-700">
                        Téléphone
                    </h6>

                    <!-- List -->
                    <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
                        <li class="mb-3">
                            <a href="#!" class="text-reset">
                                +41 79 157 64 50
                            </a>
                        </li>
                    </ul>

                </div>
                <div class="col-6 col-md-4 offset-md-4 col-lg-2 offset-lg-0">

                    <!-- Heading -->
                    <h6 class="font-weight-bold text-uppercase text-gray-700">
                        Email
                    </h6>

                    <!-- List -->
                    <ul class="list-unstyled text-muted mb-0">
                        <li class="mb-3">
                            <a href="#!" class="text-reset">
                                info@antoinequarroz.ch
                            </a>
                        </li>
                    </ul>

                </div>

                <div class="col-6 col-md-4 col-lg-3">

                    <!-- Heading -->
                    <h6 class="font-weight-bold text-uppercase text-gray-700">
                        <br>
                    </h6>

                    <!-- List -->
                    <ul class="list-unstyled text-muted mb-0">
                        <li class="mb-3">
                            <a href="#!" class="text-reset">
                                © 2020 Antoine Quarroz
                            </a>
                        </li>
                    </ul>

                </div>

            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </footer>
</section>
</body>
{% endblock %}
