{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block content %}
    <section class="pt-4 pt-md-11">
        <div class="container">
            <div class="text-center text-md-left mb-5">
                <a href="{{ path ('homepage') }}" class="btn btn-primary-soft shadow lift mr-1" style="width: 120px">
                    Retour
                </a>
            </div>
            <div class="row align-items-center">
                <div class="col-12 col-md-5 order-md-2">

                    <!-- Image -->
                    <img src="assets/img/illustrations/illustration-1.png" class="img-fluid mb-6 mb-md-0" alt="...">

                </div>
                <div class="col-12 col-md-7 order-md-1">

                    <!-- Heading -->
                    <h1 class="display-4">
                        We want to showcase all <br>
                        <span class="text-primary">the rich blog post options.</span>
                    </h1>

                    <!-- Text -->
                    <p class="lead text-muted mb-0">
                        How you use Landkit's blog cards is up to you! Our design begins with atomic elements which are easily combined to create rich blog post components.
                    </p>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>
    <section class="pt-8 pt-md-11">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <!-- Heading -->
                    <h2 class="mb-0">
                        Horizontal articles
                    </h2>

                    <!--  -->
                    <p class="mb-5 text-muted">
                        These span the grid's entire width with several options.
                    </p>

                </div>
            </div> <!-- / .row -->
            <div class="row">
                <div class="col-12">

                    <!-- Card -->
                    <div class="card card-row shadow-light-lg mb-6">
                        <div class="row no-gutters">
                            <div class="col-12">

                                <!-- Badge -->
                                <span class="badge badge-pill badge-gray-600 badge-float badge-float-outside">
                    <span class="h6 text-uppercase">Featured</span>
                  </span>

                            </div>
                            <a class="col-12 col-md-6 order-md-2 bg-cover card-img-right" style="background-image: url(assets/img/photos/photo-27.jpg);" href="#!">

                                <!-- Image (placeholder) -->
                                <img src="assets/img/photos/photo-27.jpg" alt="..." class="img-fluid d-md-none invisible">

                                <!-- Shape -->
                                <div class="shape shape-left shape-fluid-y svg-shim text-white d-none d-md-block">
                                    <svg viewBox="0 0 112 690" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h62.759v172C38.62 384 112 517 112 517v173H0V0z" fill="currentColor"></path></svg>
                                </div>

                            </a>
                            <div class="col-12 col-md-6 order-md-1">

                                <!-- Body -->
                                <a class="card-body" href="#!">

                                    <!-- Heading -->
                                    <h3>
                                        Photo on Right.
                                    </h3>

                                    <!-- Text -->
                                    <p class="mb-0 text-muted">
                                        This is the body text of the blog post to give visitors an idea of what the post is about beyond just the title. It can be a long snippet, a short snippet, whatever you prefer the size of card and description to be.
                                    </p>

                                </a>

                                <!-- Meta -->
                                <a class="card-meta" href="#!">

                                    <!-- Divider -->
                                    <hr class="card-meta-divider">

                                    <!-- Avatar -->
                                    <div class="avatar avatar-sm mr-2">
                                        <img src="assets/img/avatars/avatar-1.jpg" alt="..." class="avatar-img rounded-circle">
                                    </div>

                                    <!-- Author -->
                                    <h6 class="text-uppercase text-muted mr-2 mb-0">
                                        Ab Hadley
                                    </h6>

                                    <!-- Date -->
                                    <p class="h6 text-uppercase text-muted mb-0 ml-auto">
                                        <time datetime="2019-05-31">May 31</time>
                                    </p>

                                </a>

                            </div>

                        </div> <!-- / .row -->
                    </div>

                    <!-- Card -->
                    <div class="card card-row shadow-light-lg mb-6">
                        <div class="row no-gutters">
                            <div class="col-12">

                                <!-- Badge -->
                                <span class="badge badge-pill badge-gray-600 badge-float badge-float-outside">
                    <span class="h6 text-uppercase">Featured</span>
                  </span>

                            </div>
                            <a class="col-12 col-md-6 bg-cover card-img-left" style="background-image: url(assets/img/photos/photo-28.jpg);" href="#!">

                                <!-- Image (placeholder) -->
                                <img src="assets/img/photos/photo-28.jpg" alt="..." class="img-fluid d-md-none invisible">

                                <!-- Shape -->
                                <div class="shape shape-right shape-fluid-y svg-shim text-white d-none d-md-block">
                                    <svg viewBox="0 0 112 690" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M116 0H51v172C76 384 0 517 0 517v173h116V0z" fill="currentColor"></path></svg>
                                </div>

                            </a>
                            <div class="col-12 col-md-6">

                                <!-- Body -->
                                <a class="card-body" href="#!">

                                    <!-- Heading -->
                                    <h3>
                                        Photo on Left.
                                    </h3>

                                    <!-- Text -->
                                    <p class="mb-0 text-muted">
                                        This is the body text of the blog post to give visitors an idea of what the post is about beyond just the title. It can be a long snippet, a short snippet, whatever you prefer the size of card and description to be.
                                    </p>

                                </a>

                                <!-- Meta -->
                                <a class="card-meta" href="#!">

                                    <!-- Divider -->
                                    <hr class="card-meta-divider">

                                    <!-- Avatar -->
                                    <div class="avatar avatar-sm mr-2">
                                        <img src="assets/img/avatars/avatar-2.jpg" alt="..." class="avatar-img rounded-circle">
                                    </div>

                                    <!-- Author -->
                                    <h6 class="text-uppercase text-muted mr-2 mb-0">
                                        Adolfo Hess
                                    </h6>

                                    <!-- Date -->
                                    <p class="h6 text-uppercase text-muted mb-0 ml-auto">
                                        <time datetime="2019-05-29">May 29</time>
                                    </p>

                                </a>

                            </div>

                        </div>
                    </div>

                    <!-- Card -->
                    <div class="card card-row shadow-light-lg bg-cover overlay overlay-dark overlay-80 text-white mb-6" style="background-image: url(assets/img/covers/cover-8.jpg);">
                        <div class="row no-gutters">
                            <div class="col-12 col-md-6">

                                <!-- Body -->
                                <a class="card-body" href="#!">

                                    <!-- Heading -->
                                    <h3>
                                        Background Photo + 80% Dark Overlay.
                                    </h3>

                                    <!-- Text -->
                                    <p class="mb-0 text-white-80">
                                        It's easy to add a background image for the entire card, plus make text more legible by adding an overlay across the background with simple utility classes. These are all generated from the theme's variables!
                                    </p>

                                </a>

                                <!-- Meta -->
                                <a class="card-meta" href="#!">

                                    <!-- Divider -->
                                    <hr class="card-meta-divider border-white-20">

                                    <!-- Avatar -->
                                    <div class="avatar avatar-sm mr-2">
                                        <img src="assets/img/avatars/avatar-1.jpg" alt="..." class="avatar-img rounded-circle">
                                    </div>

                                    <!-- Author -->
                                    <h6 class="text-uppercase text-white-80 mr-2 mb-0">
                                        Ab Hadley
                                    </h6>

                                    <!-- Date -->
                                    <p class="h6 text-uppercase text-white-80 mb-0 ml-auto">
                                        <time datetime="2019-05-02">May 02</time>
                                    </p>

                                </a>

                            </div>
                        </div> <!-- / .row -->
                    </div>

                    <!-- Card -->
                    <div class="card card-row shadow-light-lg bg-cover overlay overlay-gradient-dark-right overlay-60 text-white mb-6" style="background-image: url(assets/img/photos/photo-30.jpg);">
                        <div class="row no-gutters justify-content-end">
                            <div class="col-12 col-md-6">

                                <!-- Body -->
                                <a class="card-body" href="#!">

                                    <!-- Heading -->
                                    <h3>
                                        Background Photo + Gradient Overlay.
                                    </h3>

                                    <!-- Text -->
                                    <p class="mb-0 text-white-80">
                                        This blog card example shows a background image, but instead of an even wash across the entire background, it's a gradient from right to left controlled by another simple utility class.
                                    </p>

                                </a>

                                <!-- Meta -->
                                <a class="card-meta" href="#!">

                                    <!-- Divider -->
                                    <hr class="card-meta-divider border-white-20">

                                    <!-- Avatar -->
                                    <div class="avatar avatar-sm mr-2">
                                        <img src="assets/img/avatars/avatar-2.jpg" alt="..." class="avatar-img rounded-circle">
                                    </div>

                                    <!-- Author -->
                                    <h6 class="text-uppercase text-white-80 mr-2 mb-0">
                                        Adolfo Hess
                                    </h6>

                                    <!-- Date -->
                                    <p class="h6 text-uppercase text-white-80 mb-0 ml-auto">
                                        <time datetime="2019-05-02">May 02</time>
                                    </p>

                                </a>

                            </div>
                        </div> <!-- / .row -->
                    </div>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>



    <!-- /FOOTER -->
    <section class="pt-15 bg-dark">
    <div class="position-relative mt-n15">
        <div class="shape shape-bottom shape-fluid-x svg-shim text-dark">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
        </div>
    </div>

    <!-- FAQ
    ================================================== -->
        <div class="container pt-8 pt-md-11">
            <div class="row">

            </div> <!-- / .row -->
        </div> <!-- / .container -->

        <footer class="py-8 py-md-11 bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-3">

                        <!-- Brand -->
                        <h3 style="color: #ffffff">Antoine<span><b>Quarroz</b></span></h3>

                        <!-- Text -->
                        <p class="text-gray-700 mb-2">
                            Développeur web
                        </p>

                        <!-- Social -->
                        <ul class="list-unstyled list-inline list-social mb-6 mb-md-0">
                            <li class="list-inline-item list-social-item mr-3">
                                <a href="https://www.instagram.com/antoquar_dev/" class="text-decoration-none">
                                    <img src="./assets/img/icons/social/instagram.svg" class="list-social-icon" alt="...">
                                </a>
                            </li>
                            <li class="list-inline-item list-social-item mr-3">
                                <a href="https://www.facebook.com/AntoineQuarroz" class="text-decoration-none">
                                    <img src="./assets/img/icons/social/facebook.svg" class="list-social-icon" alt="...">
                                </a>
                            </li>
                            <li class="list-inline-item list-social-item mr-3">
                                <a href="https://www.linkedin.com/in/antoine-quarroz-376020187/" class="text-decoration-none">
                                    <img src="./assets/img/icons/social/linkedin.svg" class="list-social-icon" alt="...">
                                </a>
                            </li>
                            <li class="list-inline-item list-social-item">
                                <a href="https://twitter.com/AntoineQuarroz" class="text-decoration-none">
                                    <img src="./assets/img/icons/social/twitter.svg" class="list-social-icon" alt="...">
                                </a>
                            </li>
                            <li class="list-inline-item list-social-item">
                                <a href="https://github.com/antoinequarroz?tab=repositories" class="text-decoration-none">
                                    <img src="./assets/img/icons/social/github.svg" class="list-social-icon" alt="...">
                                </a>
                            </li>
                        </ul>

                    </div>
                    <div class="col-6 col-md-4 col-lg-3">

                        <!-- Heading -->
                        <h6 class="font-weight-bold text-uppercase text-gray-700">
                            Adresse
                        </h6>

                        <!-- List -->
                        <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
                            <li class="mb-3">
                                <a href="#!" class="text-reset">
                                    Rue de l'Evouette 5
                                </a>
                            </li>
                            <li class="mb-3">
                                <a href="#!" class="text-reset">
                                    1969 St-Martin VS
                                </a>
                            </li>
                        </ul>

                    </div>
                    <div class="col-6 col-md-4 col-lg-3">

                        <!-- Heading -->
                        <h6 class="font-weight-bold text-uppercase text-gray-700">
                            Téléphone
                        </h6>

                        <!-- List -->
                        <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
                            <li class="mb-3">
                                <a href="#!" class="text-reset">
                                    +41 79 157 64 50
                                </a>
                            </li>
                        </ul>

                    </div>
                    <div class="col-6 col-md-4 offset-md-4 col-lg-2 offset-lg-0">

                        <!-- Heading -->
                        <h6 class="font-weight-bold text-uppercase text-gray-700">
                            Email
                        </h6>

                        <!-- List -->
                        <ul class="list-unstyled text-muted mb-0">
                            <li class="mb-3">
                                <a href="#!" class="text-reset">
                                    antoinequarroz.mediam@gmail.com
                                </a>
                            </li>
                        </ul>

                    </div>

                    <div class="col-6 col-md-4 col-lg-3">

                        <!-- Heading -->
                        <h6 class="font-weight-bold text-uppercase text-gray-700">
                            <br>
                        </h6>

                        <!-- List -->
                        <ul class="list-unstyled text-muted mb-0">
                            <li class="mb-3">
                                <a href="#!" class="text-reset">
                                    © 2020 Antoine Quarroz
                                </a>
                            </li>
                        </ul>

                    </div>

                </div> <!-- / .row -->
            </div> <!-- / .container -->
        </footer>
    </section>
{% endblock %}
